
@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-deepv:#0b011f;
    --color-blue: #55acb1;
    --color-sky:#cfdfe8;
    --color-ash:#b9afcc;
    --color-purple:#5930a6;
    --color-pink:rgb(193, 140, 149);
    --color-grey:rgb(110, 98, 98);
    --color-yellow:rgb(215, 215, 151);
    --color-orange:rgb(187, 159, 108);
   

    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small: 16px;
    --font-micro: 14px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;

}

* { box-sizing: border-box; }

body {
    font-family: 'SLEIGothicTTF', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: var(--color-black);
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px
}

h2 {
    font-size: var(--font-medium);
    color: var(--color-black);
    margin: 8px 0px
}

h3 {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0px
}

p {
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-deepv);
}

/* #navbar.navbar--bold{
    background-color: var(--color-deeppink);
    padding: 10px;

} */
.navbar__logo {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-white);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}

.navbar__menu__item.active {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color: var(--color-pink);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-ash);
    display: none;
}

/* 홈 */

#home {
    background: url(./images/background.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title, .home__description {
    color: var(--color-black);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* section 공통 */

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* 내 소개 */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
    color: var(--color-grey)
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name, .job__period {
    color: var(--color-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

.about__jobs__icon {
    width: 90px;
    height: 90px;

}

/* 기술 */

#skills {
    background-color: var(--color-ash);
}

.skillset {
    display: flex;
    background-color: var(--color-grey);
    color: var(--color-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white)
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-black);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    padding: 20px;
    background-color: var(--color-grey);
}

.etc {
    padding: 20px;
}

/* 내 작업실 */

.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-grey);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    color: var(--color-white);  
}

.category__btn.active, .category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white)
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
} 

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-blue);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.project__description {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white)
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-purple);
}

